body {
  background-color: rgb(181, 170, 252);
}
.createuser-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}
.input-container {
  display: flex;
  justify-content: center;
  min-width: 80%;
  padding: 2.5rem;
  box-shadow: 0.5rem 0.5rem 1.2rem rgb(53, 52, 139);
  border-radius: 2rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}
.homepage-container {
  min-height: 80vh;
  padding: 2rem;
  margin-top: 2rem;
  min-width: 80%;
  box-shadow: 0.25rem 0.25rem 2rem rgb(53, 52, 139);
  border-radius: 2rem;
}
.mentor-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-label {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(15, 0, 100);
  margin: 0;
}

@media (max-width: 537px) {
  .input-label {
    font-size: 1rem;
  }
  .homepage-container {
    border-radius: 0.2rem;
  }
}

.checked-lists {
  padding: 1rem;
}
.check-list-container {
  min-height: 50vh;
  overflow: auto;
}
.studentname-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 40vh;
  scroll-behavior: smooth;
  overflow: auto;
  color: rgb(22, 84, 255);
}
